.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
.container{
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;  
  justify-content: center;
}
.background{
  background: rgb(199, 236, 231);
}

.links{
    justify-content: center;
    text-align: center;
  }
  .sidebar {
    width: auto;
    height: 100%vh;
   }